# Supabase PostgreSQL connection pooler (Session Mode on port 5432 or Transaction Mode on port 6543)
DATABASE_URL="postgresql://postgres.rhenzczhmptgmlkpahmb:[YOUR_PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct URL for Prisma migrations & db push
DIRECT_URL="postgresql://postgres.rhenzczhmptgmlkpahmb:[YOUR_PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"

# Next.js Public URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
